$background-color: #f0f2f5;

$button-color: #161f27;
$button-hover: lighten($button-color, 20%);

$input-border: #ccc;
$form-background: #fff;
$br-form: 8px;
$br-button: 4px;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

$padding-el: 50px;
$padding-card: 20px;
$padding-button: 10px;
