@import './styles/variables.scss';



*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

form {
  max-width: 320px;
  margin: 100px auto;
  padding: $padding-card;
  background: $form-background;
  border-radius: $br-form;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  gap: $padding-button;

  input,
  button {
    padding: $padding-button;
    font-size: 1rem;
    border: 1px solid $input-border;
    border-radius: $br-button;
  }

  button {
    background-color: $button-color;
    color: $form-background;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $button-hover;
    }
  }
}
