@import '../../styles/variables.scss';

.wrapper{
    text-align: center;
    margin-top: 100px;

   button {
    margin-top: $padding-card;
    padding: $padding-button $padding-card;
    background-color: $button-color;
    color: $form-background;
    border: none;
    border-radius: $br-button;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $button-hover;
    }
  }

    a{
        text-decoration: none;
        color: $form-background;
    }
}